name: Build Android APK
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Dependencies
        run: |
          npm install
          npx expo install --fix

      # Tallaabadan hadda waxay dhalinaysaa folder-ka Android si buuxda
      - name: Prebuild Android
        run: npx expo prebuild --platform android --non-interactive

      # Hubi in Gradle uusan ku fashilmin plugins maqan
      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ShaqoHub-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
