name: Build Android APK
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Dependencies
        run: |
          # 1. Rakib wax kasta adoo iska indha tiraya is-qabqabsiga
          npm install --legacy-peer-deps
          # 2. Xoog ku sax version-nada Expo ay rabto
          npx expo install --check
          npx expo install --fix

      - name: Prebuild Android
        # Tallaabadan waxay dhalinaysaa folder-ka android si nadiif ah
        run: npx expo prebuild --platform android --non-interactive

      - name: Build APK
        run: |
          cd android
          # Nadiifi dhismihii hore si aysan khaladaad isugu dhex qasin
          ./gradlew clean
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ShaqoHub-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
