name: Build Android APK
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Dependencies
        run: |
          # Waxaan isticmaalaynaa legacy-peer-deps si uusan u istaagin
          npm install --legacy-peer-deps
          # Waxaan ku darnay '|| true' si build-ku uusan u istaagin haddii digniin la bixiyo
          npx expo install --check || true

      - name: Prebuild Android
        run: npx expo prebuild --platform android --non-interactive

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ShaqoHub-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
